
root{
    line-height: 0.5em;
}
.dashboard{
    display: grid;
    place-items: center;
    overflow: scroll;
    color: white;
    z-index: 50;
    position: relative;
    flex:1;
    max-height: 100vh;
    
}

.layout{
    display: flex;
    flex-direction: column;
    gap: 3px;
    max-width: 100%;
}

div h1{
    display: flex;
    justify-content: center;
    color: goldenrod;
    font-weight: bold;
}

button{
    margin-left: 0.3em;
}


